.hidden{
    display: none;
}
/*.border-enable {
border: 2px solid white; /* 흰색 테두리 */
/*box-sizing: border-box; /* 테두리를 요소 크기에 포함 */
/*}*/
.span{
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting {
    color: white;
    text-align: center;

    font-style: italic;
}
#clock {
    color: white;
    text-align: center;
    font-size: 30px;
}
#weather {
    color: white;
    text-align: center;
    font-size: 15px;
}
#quote {
    color: white;
    text-align: center;
    font-size: 17px;

    font-style: italic;
}


#main-grid {
  display: grid;

  width: 100vw;  /* 전체 창 너비를 기준으로 설정 */
  height: 100vh; /* 전체 창 높이를 기준으로 설정 */

  grid-template-rows: 40% 20% 40%;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas: "quote clock-weather todo"
                       ".     login         todo"
                       ".     .             todo";

  align-items: center; /* 모든 그리드 아이템을 세로 중앙에 정렬 */
}
/* Area Setting*/
#main-grid > #clock-weather {
    width: 100%; /* 전체 창 너비를 기준으로 설정 */
    height: 100%; /* 전체 창 높이를 기준으로 설정 */
    
    grid-area: clock-weather;

    place-items: center; /* 중앙 정렬 */
    place-content: end;
}
#main-grid > #login {
    grid-area: login;

    width: 100%; /* 전체 창 너비를 기준으로 설정 */
    height: 100%; /* 전체 창 높이를 기준으로 설정 */

    place-items: center; /* 중앙 정렬 */
    place-content: center;
}
#main-grid > #quote {
    grid-area: quote;

    width: 100%; /* 전체 창 너비를 기준으로 설정 */
    height: 100%; /* 전체 창 높이를 기준으로 설정 */

    place-items: center; /* 중앙 정렬 */
    place-content: center;
}
#main-grid > #todo {
    grid-area: todo;
    
    width: 100%; /* 전체 창 너비를 기준으로 설정 */
    height: 100%; /* 전체 창 높이를 기준으로 설정 */

    place-items: center; /* 중앙 정렬 */    
}



/* input 스타일 */
#login-input {  
  width: 100%;
  
  background-color: rgba(255, 255, 255, 0); /* 투명한 배경 (흰색, 투명도 0.2) */
  
  color: white; /* 글자색을 흰색으로 설정 */
  
  font-size: 30px;
  text-align: center;

  border: none; /* 기본 테두리 제거 */
  border-bottom: 2px solid white; /* 밑줄 추가 */
}  
/* input에 포커스가 있을 때 스타일 */
#login-input:focus {    
    width: 100%;

    border-color: rgba(255, 255, 255, 0.8); /* 포커스 시 더 진한 흰색 테두리 */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* 포커스 시 흰색 그림자 효과 */

    outline: none; /* 기본 아웃라인 제거 */
}



/* input 스타일 */
#todo-input {  
    width: 100%;
    
    background-color: rgba(255, 255, 255, 0); /* 투명한 배경 (흰색, 투명도 0.2) */
    
    color: white; /* 글자색을 흰색으로 설정 */
    
    font-size: 20px;
    text-align: center;
  
    border: none; /* 기본 테두리 제거 */
    border-bottom: 2px solid white; /* 밑줄 추가 */
}
    
  /* input에 포커스가 있을 때 스타일 */
#todo-input:focus {    
      width: 100%;
  
      border-color: rgba(255, 255, 255, 0.8); /* 포커스 시 더 진한 흰색 테두리 */
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* 포커스 시 흰색 그림자 효과 */
  
      outline: none; /* 기본 아웃라인 제거 */
}



.todo-list {    
    color: white;
    text-align: center;

    font-style: italic;
}
.delBtn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}